sudo: false

language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "pypy" # cPython 2.7

env:
  - DJANGO="1.8"
  - DJANGO="1.9"
  - DJANGO="1.10"
  - DJANGO="1.11"

# command to install dependencies
install:
    - pip install six tox-travis

# command to run tests
script:
    - tox
